.small-brand {
    font-family: "Poppins", sans-serif;
    font-size: 30px;                 
    color: rgb(251, 232, 250);                    
    margin-top: 30px;                
}

body{
    font-family: "Poppins", sans-serif;
    background-color:rgb(255, 231, 254) ;
}

.title-container{
    background: linear-gradient(145deg, #0f52be 0%, #0f2a8b 40%, #122851 70%, #1b1543 100%);
   
}
